@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

//global styles 

$blue: hsl(220, 98%, 61%);
$check-bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

//light-theme
:root{
--primary-gray: hsl(0, 0%, 98%);
--second-gray: hsl(233, 11%, 84%);
--purple: hsl(234, 39%, 85%);
--purple-hove: hsl(235, 19%, 35%);
--text-color: hsl(235, 21%, 11%);
--placeholder-gray: hsl(236, 9%, 61%);
}


//dark-theme
[data-theme="dark"]{
--primary-gray:hsl(235, 24%, 19%);
--second-gray:hsl(235, 21%, 11%);
--purple: hsl(234, 39%, 85%);
--purple-hover: hsl(236, 33%, 92%);
--text-color:hsl(0, 0%, 98%);
--placeholder-gray:  hsl(235, 16%, 43%);
}

//body-size

$font-size: 18px;

//
$font-family: "Josefin Sans", sans-serif;
$Weights: 400, 700

